# Copyright 2025 LYJ
# SPDX-License-Identifier: Apache-2.0

config AUDIO_CODEC_ES8311
	bool "everest ES8311 codec support"
	default y
	select I2C
	depends on DT_HAS_EVEREST_ES8311_ENABLED
	help
	  Enable support for the everest es8311 codec
